**/node_modules/
**/.git/
**/.DS_Store/
**/debug.log
**/yarn-error.log
/dist/*.html
/dist/*.ico
/dist/*.js
/dist/*.json

/dist/manifest/**/*

/dist/static/scripts/**/*
/dist/static/styles/**/*
/dist/static/dll/**/*
/dist/static/fonts/**/*
/dist/static/images/**/*
/dist/static/medias/**/*

/config/.env.local.ts
